      <tr>
        <td><%= department.module.name %></td>
        <td><%= department.module.description %></td>
        <td><%= link_to 'Destroy', [:admins, @department, @module], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
 

