<tr>
  <td><%= department_module.name %></td>
  <td><%= department_module.description %></td>
  <td><%= link_to 'Destroy', [:admins, @department, department_module], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
 

